:root {

  /* main palette , the 400s*/
  /* Coolors Exported Palette - coolors.co/fcb97d-afbfc0-ffd447-03cea4-6689a1 */
  --mellow-apricot: #fcb97d;
  --ash-gray: #afbfc0;
  --gargoyle-gas: #ffd447;
  --carribean-green: #03cea4;
  --rackley: #6689a1;

  /* lighten / darken values*/
  --mellow-apricot-light: #feefe1; /* 20% */
  --ash-gray-light: #e8eded;
  --gargoyle-gas-light: #ffecad;
  --carribean-green-light: #3bfcd4;
  --rackley-light: #a5bac8;
}
